$body-background-color: #f1eee9;
$header-info-background-color: #666666;
$header-menu-background-color: #ffffff;
$header-text-color: #666666;
$header-active-text-color: #f5801d;
$header-input-search-background-color: #f5801d;
$best-rating-border-color: #f5801d;
$content-text-color: #666666;
$most-reviews-border-color: #f5801d;